<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title th:if="${create}">新建点评 - 食堂点评系统</title>
    <title th:if="${edit}">编辑点评 - 食堂点评系统</title>
</head>

<body class="bg-light">

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">食堂点评系统</a>
    <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"-->
    <!--            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--        <span class="navbar-toggler-icon"></span>-->
    <!--    </button>-->
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">主页 <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div class="mb-3">
        <h4 class="mb-3">创建评价</h4>
        <form class="needs-validation" novalidate method="post" th:action="@{/create}" th:object="${commentDtoForm}">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="selectCanteen">餐厅</label>
                    <select class="custom-select" id="selectCanteen" th:field="*{canteen}" required>
                        <option selected disabled value="">选择餐厅</option>
                        <option th:each="c:${canteens}" th:value="${c.id}" th:text="${c.name}">黄山KK</option>
                    </select>
                    <div class="invalid-feedback">请选择要评价的餐厅</div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="inputWindow">窗口<span class="text-muted">（可选）</span></label>
                    <input type="number" class="form-control" id="inputWindow" placeholder="菜品所在窗口号" min="1" max="40" th:field="*{whichWindow}">
                    <div class="invalid-feedback">请输入要评价的窗口号</div>
                </div>
                <div class="col-md-5 mb-3">
                    <label for="inputFood">菜品</label>
                    <input type="text" class="form-control" id="inputFood" placeholder="菜品的名称" th:field="*{foodName}" required>
                    <div class="invalid-feedback">请输入菜品名称</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="scoreForTaste">味道评分</label>
                    <input type="number" class="form-control" id="scoreForTaste" placeholder="对味道的评分（1-5分）" min="1" max="5" th:field="*{scoreForTaste}" required>
                    <div class="invalid-feedback">请输入对菜品味道的评分（1-5分）</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="scoreForPrice">价格评分</label>
                    <input type="number" class="form-control" id="scoreForPrice" placeholder="对价格的评分（1-5分）" min="1" max="5" th:field="*{scoreForPrice}" required>
                    <div class="invalid-feedback">请输入对菜品价格的评分（1-5分）</div>
                </div>
            </div>

            <hr class="mb-4">

            <div class="mb-3">
                <label for="title">评价标题</label>
                <input type="text" class="form-control" id="title" placeholder="评价标题" th:field="*{title}" required>
                <div class="invalid-feedback">请输入本条评价的标题</div>
            </div>

            <div class="mb-3">
                <label for="content">评价内容</label>
                <textarea class="form-control" id="content" rows="5" placeholder="评价正文内容" th:field="*{content}" required></textarea>
                <div class="invalid-feedback">请输入评价内容</div>
            </div>

            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="promise" required>
                    <label class="form-check-label" for="promise">我保证评价内容真实，无编造成分。</label>
                </div>
            </div>

            <button type="submit" class="btn btn-outline-primary btn-block btn-lg mb-3">提交评价</button>
        </form>
    </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>